header{
    display: flex;
    align-items: center; justify-content: center;

    background-color: var(--color-foreground);

    box-shadow: var(--shadow-blurred);
}

.header-refer{
    padding: var(--size-16) var(--size-12);
}
.header-refer:hover{
    background-color: var(--color-background);
}