body{
    background-color: var(--color-background) !important;
    margin: 0;
}

#motto{
    font-weight: var(--font-weight-xb);
    font-size: var(--font-size-xl);

    color: var(--color-foreground);

    margin: var(--size-72) auto;

    text-shadow: var(--shadow-normal);

}

#intro{
    padding: var(--size-36) var(--size-64);
}
.qa-box{
    margin: var(--size-36) var(--size-4);
}

#subscription-box{
    display: flex;
    justify-content: center; align-items: center;
}
.subscription-offer{
    display: flex;
    flex-direction: column;
    align-items: center; justify-content: center;

    width: 15%;

    background-color: var(--color-secondary);

    border: var(--border-width-norm) solid var(--color-primary);
    border-radius: var(--border-radius-lg);

    padding: var(--size-28) var(--size-20);
    margin: var(--size-12);

    text-align: center;
}
.subscription-offer #sub-label{
    color: var(--color-foreground);

    font-weight: var(--font-weight-xb);
    font-size: var(--font-size-xl);

    margin: 0;
}
.subscription-offer #sub-price{
    color: var(--color-foreground);

    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-lg);

    margin: var(--size-4);
}
.subscription-offer ul{
    color: var(--color-foreground);
    text-align: center;

    margin: 0;
}
#crossed-list{
    list-style-image: var('');
}
.subscription-offer button{
    border: none;
    border-radius: var(--border-radius-sm);

    background-color: var(--color-foreground);

    color: var(--color-primary);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-bold);

    padding: var(--size-16);
    width: var(--percent-80);
}
.subscription-offer button:hover{
    background-color: var(--color-background);
}
#selected-plan-btn:hover,
#selected-plan-btn{
    background-color: var(--color-foreground-deactivated);
    color: var(--color-secondary);
}